.mat-card-header-text {
  overflow: hidden;
}

.mat-card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mat-card-image {
  aspect-ratio: 4/3;
}

.mat-card-header {
  justify-content: center;
}

.sub-header {
  text-align: center;
  height: 45px;
  color: #676763;
}

.price {
  font-weight: bold;
}

.medal {
  color: #fbbe0d;
}
